body {
    background-color: rgb(168, 223, 255);
    display:flex;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

h3 {
    padding: 0px;
    margin: 0px;
}

table {
    border-style:solid;
    border-color: black;
}

table th {
    border-style: solid;
    border-color: black;
}

.borderpad {
    border: 4px solid transparent;
}

.region {
    flex: 1;
    display:flex;
    flex-direction: column;
}

.area {
    background-color: white;
}

.area.sidebar {
    height: 100%;
}

.area.input {
    margin-bottom: 4px;
}

.area.result {
    flex: 1;
}

.chart-container {
    width: 400px;
    height: 200px;
}

input.image-button {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 36px;
    height: 32px;
    width: 100%;
}

input.image-button.singletank {
    background: url('res/tank.ico') no-repeat center left;
}

input.image-button.tanktransfer {
    background: url('res/tanktransfer.ico') no-repeat center left;
}

input.image-button.rcd {
    background: url('res/rcd.ico') no-repeat center left;
}